### Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

### IntelliJ
.idea/
.vscode/

### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar

### OS and IDE
*.iml
.DS_Store
Thumbs.db

### Spring Boot
/target/
/bin/
*.jar
*.war
*.log

### Local Files
application-local.properties