<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Customer List</h1>
<a th:href="@{/customers/showFormForAdd}" class="btn-add">Add New Customer</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/customers/showFormForUpdate(id=${customer.id})}" class="btn-update">Update</a>
            <form th:action="@{/customers/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${customer.id}" />
                <input type="submit" value="Delete" class="btn-danger"
                       onclick="if (!(confirm('Are you sure you want to delete this Customer?'))) return false">
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
