<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
</head>
<body>
<form th:action="@{/customers/save}" th:object="${customer}" method="post">

    <input type="hidden" th:field="*{id}" />
    <label for="firstname">First Name:</label>
    <input type="text" id="firstname" th:field="*{firstName}" placeholder="Enter first name"/>
    <br/>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" th:field="*{lastName}" placeholder="Enter last name"/>
    <br/>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" placeholder="Enter email"/>
    <br/>

    <button type="submit">Save</button>
</form>

</body>
</html>